<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.aletheiagamestudio.magicalmath"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Magical Math</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author email="meredith@gmail.com">
        Meredith Morris and Eva Barnett
    </author>
    <gap:platform name="android" />
    <preference name="fullscreen" value="true" />
    <preference name="orientation" value="landscape" />
    <preference name="phonegap-version" value="3.6.3" />
</widget>
